<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show latest</title>
    <style>
            .button {
  background-color: hsla(143, 69%, 32%, 0.89);
  border: none;
  color: #ffe9e9;        
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;   
  margin: 1px 1px;
  border-radius: 12px;
  
}
button:hover {
  background-color: rgb(10, 3, 39);
}
    </style>
</head>
<body style="background-color: rgb(216, 168, 216);">
    

     
   <b><p style="color: green; margin-left: 400px;margin-top: 150px;font-size:1cm;">Profile created successfully !!</p></b>

<button class="button" style="margin-top: 160px;margin-left:200px;"><a href="/"> go to home page </a></button>
<button class="button" style="margin-top: 160px;margin-left:650px;"><a href="/hr_app/"> create another profile </a></button>


   
    
</body>
</html>